<div class="content shade">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <img src="/images/logo.png">
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="well">
          <div class="highlight-description">
            {{outlet "highlight"}}
          </div>
          <div class="pull-right">
            {{#link-to 'about'}}Read more &gt;{{/link-to}}
          </div>
        </div>
        
        <!-- highlights -->
        <div class="row">
          <div class="col-md-3">
            <figure class="featured bg-pattern">
              <span class="icon darkgrey fa fa-question"></span>
              <a class="figcaption" href="#" {{action "showHighlight" "about"}}>
                <h4>About</h4>
              </a>
              
            </figure>
          </div>
          <div class="col-md-3">
            <figure class="featured bg-pattern">
              <span class="icon darkgrey fa fa-star-o"></span>
              <a class="figcaption" href="#" {{action "showHighlight" "interests"}}>
                <h4>Interests</h4>
              </a>
            </figure>
          </div>
          <div class="col-md-3">
            <figure class="featured bg-pattern">
              <span class="icon darkgrey fa fa-list-alt"></span>
              <a class="figcaption" href="#" {{action "showHighlight" "phyloanalytics"}}>
                <h4>Resume</h4>
              </a>
            </figure>
          </div>
          <div class="col-md-3">
            <figure class="featured bg-pattern">
              <span class="icon darkgrey fa fa-trash-o"></span>
              <a class="figcaption" href="#" {{action "showHighlight" "misc"}}>
                <h4>Misc</h4>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured Elements -->
<div class="row">
  <div class="well highlight-content">
    {{outlet content}}
  </div>
</div>

